body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
}

ul, li {
display: block;
padding: 0;
margin: 0;
}

.container {
width: 1170px;
margin: 0 auto; /*позиционированние по центру */
}

.header {
  background: url('../img/header-bg.jpg') no-repeat center top / cover;  
  padding-top: 57px;
  font-family: 'Anton', sans-serif;
  padding-bottom: 332px;
}

.header a {
    color: #fff;
}

.logo {
    margin-right: 69px;
}

.menu {
    display: flex;
}

.menu li a {
text-transform: uppercase;
text-decoration: none;
font-size: 14px;
letter-spacing: 0.1em;
}

.menu li {
    margin-right: 40px;
}
.tel {
    font-size: 17px;
    text-decoration: none;
    margin-left: auto;
    letter-spacing: 0.1em;
}

.nav {
   display: flex;
   align-items: center;
}

.offer
{
    text-transform: uppercase;
    color: #fff;
    margin-top: 216px;
    display: block;
    
}

.top {
    font-size: 30px;
    letter-spacing: 0.1em;
    margin-bottom: -5px;

}

.mdl {
    font-size: 100px;
    margin-bottom: 19px;
    margin-top: -13px;
    
}

.bottom {
    letter-spacing: 0.1em;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    padding: 17px 47px;
    border: 1px solid #fff;
    width: 238px;
    
}

section {
    padding-top: 113px;

}

.about {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: 25px;
    color: #000;
  
}

 h2 {
    font-size: 50px;
    margin-bottom: 52px;
}

 h3 {
    font-size: 25px;
    margin-bottom: 19px;

}

.descrip {
    display: flex;
    justify-content: space-between;
}

.descrip p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 564px;
    text-align: justify;
    line-height: 1.62em;

}

.photos {
    display: flex;
    margin-top: 67px;
    justify-content: space-between;
}

footer {
    padding-top: 114px;
    border: #fff;
    padding-bottom: 80px;
    color: #000;
    
}

.foot-text
{
    display: flex;
  
}

.footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 244px;
    margin-right: 55px;
}


